
.main-content {
  height:100vh;
  width:100%;
  background: url('./images/map-overlay.png') no-repeat center;
  background-size:cover;
  position: absolute;
  overflow:visible;
  pointer-events:none;
}
#map {
 height: 100vh;
 width: 100%;
 z-index: -1;
 position: absolute;
}
.header-splash{
  position: absolute;
  z-index: 2;
}

.marker-info{
  width:450px;
  height: 80vh;
  z-index: 2;
  position:absolute;
  left: -460px;
  top: 100px;
  display: inline-block;
  background: white;
}
